.aboutMe {
  padding-left: 10%;
  padding-top: 10%;
}

.aboutmeHeading{
  width: 10.5%;
  padding-left: 1%;
}

.aboutMeText {
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 50%;
  gap: 15%;
  padding: 70px 0;
  margin: 20px;
  text-align: left;
}
