.aboutMe {
  padding-left: 10%;
  padding-top: 5%;
}

.aboutmeHeading{
  width: 14.3%;
  padding-left: 1%;
}

.aboutMeText {
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 50%;
  gap: 15%;
  padding: 70px 0;
  margin: 20px;
  text-align: left;
}

.aboutMeSkills {
  overflow: hidden;
  gap: 15%;
  text-align: left;
}

.aboutMeLinks {
  overflow: hidden;
  gap: 15%;
  padding: 70px 0;
  margin: 20px;
  text-align: left;
}
