/* change HTML element with the ID "canvas" to have a fixed position. */
/* Used for cursor's canvas */
#canvas {
  position: fixed;
}

/* "foreground" className */
/* class to put information in the foreground on top of canvas */
.foreground {
  position: fixed;
  background: transparent;
  left:50px; 
  top:20px;
}

.hidden {
  display: none;
}
