.experience {
  padding-left: 10.5%;
  padding-top: 2%;
}
.experienceHeading{
  width: 28.5%;
}

.experienceText {
  display: grid;
  grid-template-columns: 60%;
  gap: 5%;
}

.date {
  color: var(--color-grey);
}