.project {
  padding-left: 10.5%;
  padding-top: 2%;
}
.projectHeading{
  width: 24.7%;
}

.projectText {
  display: grid;
  grid-template-columns: 60% 50%;
  gap: 15%;
}

.date {
  color: var(--color-grey);
}
